<form action="/students/create"  method="POST">
    {{inputs|safe}}
    <!-- <label for="first_name">First Name:</label><br>
    <input id="first_name" name="first_name" type="text" value="first_name"><br><br>
    <label for="last_name">Last Name:</label><br>
    <input id="last_name" name="last_name" type="text"  value="last_name"><br><br>
    <label for="grade">Grade:</label><br>
    <input id="grade" name="grade" type="number" step="1" ><br><br> -->
    <input type="submit" value="Submit">
  </form>
