/* https://www.w3schools.com/css/tryit.asp?filename=trycss_ex_tables_color */
#dbtable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

#dbtable td, #dbtable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#dbtable tr:nth-child(even){background-color: #f2f2f2;}

#dbtable tr:hover {background-color: #ddd;}

#dbtable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5555ff;
    color: white;
}
